QTabBar::tab{ 
    background-color:rgb(224,224,224);
    margin-top:1px; 
    margin-right:1px; 
    margin-left:1px; 
    margin-bottom:2px; 
    padding:1px;
    min-width:50px;
}

QTabBar::tab:selected{ 
    background-color:rgb(255,255,255);
    border-top:3px solid rgb(0, 108, 190);
    margin-top:1px; 
    margin-right:1px; 
    margin-left:1px; 
    margin-bottom:2px; 
    padding:0px;
}